# Byte-code files
*.pyc
__pycache__/
*.so
*.egg
*.egg-info/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Editor/IDE files.
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Operating System files
.DS_Store
Thumbs.db

# Test/Coverage files
.pytest_cache/
.coverage
htmlcov/

# Logs and temporary files
*.log
*.tmp
*.bak

# Environment variables
.env